body{
  background-color: #000000;
  color: #ffffff;
}
.main{
    line-height: 2;
}
ul{
  display: block;
  font-family: Cormorant SC;
  text-align: center;
  margin-left: -20px;

}
ul li{
  display: inline;
  font-size: 15pt;
  font-weight: bold;
  padding: 20px;

}
h1{
  font-family: Vibur;
  text-align: center;
}
h2{
  font-family: El Messiri;
  font-size: 20pt;
  font-weight: 700;
  text-align: center;
}
a{
  color: #ffffff;
  text-decoration: none;
}

.main b:first-of-type{
  padding: 20px 10px 5px 10px;
}
.main b:first-of-type:hover{
  border-bottom: 3px solid white;
  padding: 20px 10px 5px 10px;
}
@media (max-device-width: 360px) and (max-device-height: 640px) {
  body{
    font-size: 200%;
  }
  ul{
    color: yellow;

    margin: auto;
    width: 90%;
  }
  ul li{
    font-size: 125% !important;
  }
}
