body{
  background-color: #000000;
  color: #ffffff;
}
.menu ul{
  display: flex;
  font-family: PT Sans Narrow;
  justify-content: center;
}
.menu ul li{
   font-size: 3em;
   font-style: bold;
   list-style-type: none;
   padding: 20px;
}
.menu ul li:hover{
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block{
  margin-top: 50px 0px 10px 0px;
  text-align: center;
  padding-bottom: 20px;
}
h1{
  font-family: PT Sans Narrow;
}
iframe{
  border: 2px solid white;
}
a{
  color: #ffffff;
  text-decoration: none;
}
.logo{
  font-size: 3.5em;
  font-family: Vibur;
  text-align: center;
}
.block h1{
  font-size: 2.75em;
}
@media (min-width: 1280px){
  .logo{
    font-size: 2.5em;
  }
  .menu ul li{
    font-size: 1.75em;
  }
  .block h1{
    font-size: 1.75em;
  }
}
